@model SportCommunityRM.WebSite.ViewModels.User.DetailViewModel
@{
    ViewData["Title"] = Model.Name;
    var birthDate = Model.BirthDate.ToShortDateString();
}

<br/>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            @Html.DisplayFor(model => model.FirstName)
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            @Html.DisplayFor(model => model.LastName)
        </div>
        <div class="form-group">
            <label asp-for="BirthDate"></label>
            @Html.DisplayFor(model => birthDate)
        </div>
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="teams-heading">
                    <div class="inline-children">
                        <a href="#teams-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="teams-collapse">
                            <h4 class="panel-title">
                                <i class="fa fa-group"></i> Teams
                            </h4>
                        </a>
                        <a href="#teams-collapse" class="collapse-btn bold pull-right" role="button" data-toggle="collapse" title="Toggle" aria-expanded="true" aria-controls="teams-collapse">
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" id="teams-collapse" aria-labelledby="teams-heading">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>@*Actions header*@</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Teams.IsNullOrEmpty())
                                    {
                                        <tr>
                                            <td colspan="2">No team to display</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var team in Model.Teams)
                                        {
                                            <tr>
                                                <td>@team.Name</td>
                                                <td>
                                                    <a class="text-accent" asp-action="Detail" asp-controller="Team" asp-route-id="@team.Id" title="Detail">
                                                        <i class="glyphicon glyphicon-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <img src="@Model.PictureUrl" alt="User picture" class="img-circle img-responsive img-square large" />
    </div>
</div>