@model SportCommunityRM.WebSite.ViewModels.User.IndexViewModel
@{
    ViewData["Title"] = "My Home";
}

<style type="text/css">
    .parallax-html .parallax-header::before {
        background: linear-gradient(to bottom, transparent, #0081cc 90%), url('/images/team_test.jpg') center no-repeat;
    }
</style>

<header class="parallax-header">
    <div class="parallax-container row">
        <h1>@ViewData["Title"]</h1>
    </div>
</header>

<main class="parallax-container row">
    <div class="col-md-6">
        <div class="panel panel-accent">
            <div class="panel-heading" role="tab" id="teams-heading">
                <div class="inline-children">
                    <a href="#teams-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="teams-collapse">
                        <h4 class="panel-title">
                            <i class="fa fa-group"></i> My Teams
                        </h4>
                    </a>
                    <a href="#teams-collapse" class="collapse-btn bold pull-right" role="button" data-toggle="collapse" title="Toggle" aria-expanded="true" aria-controls="teams-collapse">
                        <i class="glyphicon glyphicon-menu-up"></i>
                    </a>
                </div>
            </div>
            <div class="panel-collapse collapse in" role="tabpanel" id="teams-collapse" aria-labelledby="teams-heading">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>@*Actions header*@</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Teams == null || !Model.Teams.Any())
                                {
                                    <tr>
                                        <td colspan="2">No teams to display</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var team in Model.Teams)
                                    {
                                        <tr>
                                            <td>@team.Name</td>
                                            <td>
                                                <a role="button" class="text-primary" asp-action="Detail" asp-controller="Team" asp-route-id="@team.Id" title="Detail">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!Model.Activities.Activities.IsNullOrEmpty())
    {
        <div class="col-md-6">
            <div class="panel panel-accent">
                <div class="panel-heading" role="tab" id="activities-heading">
                    <div class="inline-children">
                        <a href="#activities-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="activities-collapse">
                            <h4 class="panel-title">
                                <i class="fa fa-list"></i> My Activities
                            </h4>
                        </a>
                        <a href="#activities-collapse" class="collapse-btn bold pull-right" role="button" data-toggle="collapse" title="Toggle" aria-expanded="true" aria-controls="activities-collapse">
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" id="activities-collapse" aria-labelledby="activities-heading">
                    <div class="panel-body">
                        @await Html.PartialAsync("_ActivitiesPartial", Model.Activities)
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-6">
        <div class="panel panel-accent">
            <div class="panel-heading" role="tab" id="calendar-heading">
                <div class="inline-children">
                    <a href="#calendar-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="calendar-collapse">
                        <h4 class="panel-title">
                            <i class="fa fa-calendar"></i> Calendar
                        </h4>
                    </a>
                    <a href="#calendar-collapse" class="collapse-btn bold pull-right" role="button" data-toggle="collapse" title="Toggle" aria-expanded="true" aria-controls="calendar-collapse">
                        <i class="glyphicon glyphicon-menu-up"></i>
                    </a>
                </div>
            </div>
            <div class="panel-collapse collapse in" role="tabpanel" id="calendar-collapse" aria-labelledby="calendar-heading">
                <div class="panel-body">
                    @Html.Partial("_CalendarPartial", Model.Calendar)
                </div>
            </div>
        </div>
    </div>
    @if (!Model.NewsFeed.NewsFeed.IsNullOrEmpty())
    {
        <div class="col-md-6">
            <div class="panel panel-accent">
                <div class="panel-heading" role="tab" id="feed-heading">
                    <div class="inline-children">
                        <a href="#feed-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="feed-collapse">
                            <h4 class="panel-title">
                                <i class="fa fa-newspaper-o"></i> News Feed
                            </h4>
                        </a>
                        <a href="#feed-collapse" class="collapse-btn bold pull-right" role="button" data-toggle="collapse" title="Toggle" aria-expanded="true" aria-controls="feed-collapse">
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" id="feed-collapse" aria-labelledby="feed-heading">
                    <div class="panel-body">
                        @await Html.PartialAsync("_NewsFeedPartial", Model.NewsFeed)
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-12">
        @Html.Partial("_FooterPartial")
    </div>
</main>