@model SportCommunityRM.WebSite.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<br/>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="teams-heading">
                <a href="#teams-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="teams-collapse">
                    <h4 class="panel-title">
                        <i class="fa fa-group"></i> My Teams (@(Model.Teams?.Count() ?? 0))
                    </h4>
                </a>
            </div>
            <div class="panel-collapse collapse in" role="tabpanel" id="teams-collapse" aria-labelledby="teams-heading">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>@*Actions header*@</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Teams == null || !Model.Teams.Any())
                                {
                                    <tr>
                                        <td colspan="2">No teams to display</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var team in Model.Teams)
                                    {
                                        <tr>
                                            <td>@team.Name</td>
                                            <td>
                                                <a role="button" class="text-primary" asp-action="Detail" asp-controller="Team" asp-route-id="@team.Id" title="Detail">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="activities-heading">
                <a href="#activities-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="activities-collapse">
                    <h4 class="panel-title">
                        <i class="fa fa-calendar"></i> My Activities (@(Model.Activities?.Count() ?? 0))
                    </h4>
                </a>
            </div>
            <div class="panel-collapse collapse in" role="tabpanel" id="activities-collapse" aria-labelledby="activities-heading">
                <div id="activities-container" class="panel-body">
                    @await Html.PartialAsync("_ActivitiesPartial", Model.Activities)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var getActivitiesActionUrl = '@Url.Action(nameof(IActivityController.GetActivitiesAsync))';
        var pagingListAnchorHandler = function (event) {
            event.preventDefault();
            var hrefValue = $(this).attr('href').substring(1);
            var url = getActivitiesActionUrl + hrefValue;
            var successCallback = function (response) {
                $('#activities-container').html(response);
            };
            var errorCallback = function (response) {
                bootbox.alert('Error!');
            };
            executeHttpGetRequest(url, null, successCallback, errorCallback);
        };

        $(document).on('click', '#activities-container table thead th a', pagingListAnchorHandler);
        $(document).on('click', '#activities-container nav .pagination li a', pagingListAnchorHandler);
    });
</script>